*{font-family: IRANSansWeb;cursor: pointer}
:host::ng-deep.ui-card-content,.ui-card-header{
  font-family: IRANSansWeb_Bold!important;
  color: white!important;
  text-align: center!important;
}
:host::ng-deep.ui-panel-titlebar{
  font-family: IRANSansWeb_Bold!important;
  color: white!important;
  text-align: center!important;
  background-color: #0099CC!important;
}
:host::ng-deep.ui-panel-footer{
  font-family: IRANSansWeb_Bold!important;
  color: white!important;
  text-align: center!important;
  background-color: #00C851!important;
}
:host::ng-deep#ui-panel-0{
  border-radius: 30px!important;
}
:host::ng-deep.ui-dropdown label.ui-dropdown-label{ font-family: IRANSansWeb_Bold!important;text-align: right!important;}
:host::ng-deep.ui-dropdown-item{ font-family: IRANSansWeb_Bold!important;text-align: right!important;}
:host::ng-deep.ui-button-text{font-family: IRANSansWeb_Bold!important;}
:host::ng-deep.ui-toast{font-family: IRANSansWeb_Bold;width:40em}
:host::ng-deep.ui-toast-summary{text-align: right;margin-right: 5px}
:host::ng-deep.ui-toast-message-content{text-align: right;margin-right: 5px}
