

<div class="alert alert-info text-right">برای مشاهده برندگان تسهیلات، از قسمت عنوان تسهیلات،تسهیلات مورد نظر را انتخاب کنید، سپس روی دکمه جستجو بزنید.</div>
<div class="ui-grid-row p-dir-rev mt-1" dir="rtl">
  <div class="ui-grid-col-4  float-right ml-3">
    <label>عنوان تسهیلات:</label>
    <p-dropdown dir="rtl" [options]="mardak" [(ngModel)]="loanForm.loanID"  [showTransitionOptions]="'1ms'"  [hideTransitionOptions]="'1ms'"   [filter]="true" [style]="{'width':'250px'}"></p-dropdown>
  </div>
  <div class="ui-grid-col-2  float-right">
    <button pButton type="button" (click)="onListWin()" label="جستجو" icon="pi pi-search" iconPos="right"></button>
  </div>
  <div class="ui-grid-col-2  float-right">
    <button pButton type="button" class="ui-button-warning text-white" [useExistingCss]="true"  label="چاپ" printSectionId="printSectionId" ngxPrint icon="pi pi-print" iconPos="right"></button>
  </div>
  <div class="ui-grid-col-3  float-right">
    <button pButton type="button" class="ui-button-success" (click)="exportToExcel()" label="خروجی اکسل" icon="pi pi-file" iconPos="right"></button>
  </div>
</div>
<div id="printSectionId" #epltable dir="rtl">
<table class="table table-striped table-bordered " dir="rtl">
  <thead>
  <tr><th scope="col" colspan="9"><div class="alert alert-warning text-center">لیست برندگان تسهیلات بانکی</div>
  </th></tr>
  <tr>
    <th style="width: 5%" class="text-center info-color text-white">ردیف</th>
    <th style="width: 10%" class="text-center info-color text-white">نام</th>
    <th style="width: 10%" class="text-center info-color text-white">نام خانوادگی </th>
    <th style="width:10%" class="text-center info-color text-white">شماره پرسنلی </th>
    <th style="width: 10%" class="text-center info-color text-white">کد ملی </th>
    <th style="width: 10%" class="text-center info-color text-white">شماره همراه </th>
    <th style="width: 20%" class="text-center info-color text-white">عنوان تسهیلات  </th>
    <th style="width: 10%" class="text-center info-color text-white">مبلغ وام </th>
    <th style="width:10%" class="text-center info-color text-white">تعداد اقساط </th>

  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let item of listWin;let i=index" class="text-center">
    <th scope="row">{{i+1}}</th>
    <td>{{item['employees'].firstName}}</td>
    <td>{{item['employees'].lastName}}</td>
    <td>{{item['employees'].personalCode}}</td>
    <td>{{item['employees'].nationalCode}}</td>
    <td>{{item['employees'].mobile}}</td>
    <td>{{item['loans'].title}}</td>
    <td>{{item['loans'].amount}}</td>
    <td>{{item['loans'].number}}</td>
  </tr>

  </tbody>
</table>
</div>
<div class="text-center" *ngIf="successSpinner"><p-progressSpinner [style]="{width: '50px', height: '50px'}" strokeWidth="8" fill="#EEEEEE" animationDuration=".5s"></p-progressSpinner></div>
